/*Navbar*/
a {
  color: #346397;
}

a:hover {
  color: #304978;
}
.navbar {
  background: rgba(0, 0, 0, 0.5);
  margin-bottom: -56px;
}

/*Header Jumbotron*/
.jumbotron.jumbotron-fluid.header {
  background-image: url(../imgs/content/ShowDog-Header-Animation-Bkgrnd.gif);
  background-size: cover;
  background-position: center;
  padding-top: 500px;
  padding-bottom: 100px;
  /*height: 600px;*/
  overflow: hidden;
}

/*Concert Listing*/
.no-display{
  display: none;
}

/*Featured Show Jumbotron*/
.container-fluid.featuredShows {
  background-color: white;
  background-size: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  overflow: hidden;
}

#featShows {
  padding-bottom: 35px;
}

.featuredCard {
  margin: auto;
}

.modalImage {
  max-height: 300px;
  max-width: 300px;
}

/*Footer*/
.container-fluid.footer {
  background-color: #1C3763;
  color: white;
  height: 350px;
  margin: 50px, 0, 50px, 0;
}

#footerNav {
  background-color: #cc3c21;
}

.centered {
  margin: auto;
  color: #fff;
}

/*Fonts*/
h1 {
  font-family: 'Fjalla One', serif;
}

h4 {
  font-family: 'Fjalla One', serif;
  margin-top: 25px;
}

h5 {
  margin-top: 30px;
}

#footerNav {
  font-family: 'Fjalla One', serif;
  letter-spacing: 2px;
}

#mainTitle {
  text-shadow: -2px -2px 10px #ffffff,
 2px -2px 10px #ffffff,
 -2px 2px 10px #ffffff,
 2px 2px 10px #ffffff;
}

#mainTitle {
  font-size: 120px;
  margin-bottom: 50px;
}

.resultList {
  padding: 20px 0px 20px;
  margin-bottom: 20px;
  border-bottom: 2px dotted gray;
  background-color: grey;
  border-radius: 15px 50px;;
}

.event-image {

  /*float: left;*/
}
.picDiv{
  margin-left: 10px;
  border-radius: 50%;
  /*max-height: 100px;*/
  /*float: left;*/
}
#resultImg {
  max-height: 200px;
  max-width: 200px;
  border-radius: 50%;
  margin: auto;
  margin-top: 20px;
  display: block;
  /*float: left;*/

}
#concert-list{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
#resultText {
font-family: 'Fjalla One', serif;
text-align: center;
}

#listTitle {
font-family: 'Fjalla One', serif;
text-align: center;
color: #1C3763;
}

#resultCard{
  margin-bottom: 25px;
  background-color: #fff;
}

label {
  font-family: 'Fjalla One', serif;
  font-size: 24px;
  letter-spacing: 2px;
  color: white;
  text-shadow: 1px 1px 10px black;
}

#submitButton {
    background-color: #cc3c21;
    font-family: 'Fjalla One', serif;
    color: white;
}

#submitButton:hover {
    background-color: #a8321c;
}

/*Modal*/
.title-venue {
  color: darkgrey;
}

.listModalImageContainer {
  border-bottom: solid gray 2px;
  width: 400px;

}
.modalImage {
  display: block;
  margin: auto;
  margin-bottom: 20px;
}

.listModal {
  margin: auto;
}

.left, .right {
  background-color: #eff0f1;
  margin: 10px;
  margin-top: 20px;
  padding: 10px;
}

.event-venue, .event-date {
  font-weight: bold;
}

.bold {
  font-weight: bold;
  text-decoration: underline;
}

.show-info {
  width: 400px;
  margin: auto;
}

.return-modal-header {
  background-color: #336497;
}

.return-close {
  color: white;
}

.ticket-button {
  width: 400px;
  background-color: #346397;
  border: #346397;
}

.ticket-button:hover {
  background-color: #304978;
}

.btn-primary {
  background-color: #346397;
  border: #346397;
}

.btn-primary:hover {
  background-color: #304978;
}

.btn-danger {
    background-color: #cc3c21;
    color: white;
}

.btn-danger:hover {
    background-color: #a8321c;
}

.modal-title {
  color: white;
}
