/*Navbar*/
.navbar {
  background: rgba(0, 0, 0, 0.5);
  margin-bottom: -56px;
}

/*Header Jumbotron*/
.jumbotron.jumbotron-fluid.header {
  background-image: url(../imgs/content/header-jumbotron-v2-bkgrnd.jpg);
  background-size: cover;
  background-position: center;
  padding-top: 100px;
  padding-bottom: 100px;
  overflow: hidden;
}

/*Concert Listing*/
.no-display{
  display: none;
}

/*Featured Show Jumbotron*/
.container-fluid.featuredShows {
  background-color: white;
  background-size: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  overflow: hidden;
}

#featShows {
  padding-bottom: 35px;
}

.featuredCard {
  margin: auto;
}

/*Footer*/
.container-fluid.footer {
  background-color: red;
  height: 350px;
  margin: 50px, 0, 50px, 0;
}
