/*Header Jumbotron*/
.jumbotron.jumbotron-fluid.header {
  background-image: url(../imgs/content/header-jumbotron-bkgrnd.jpg);
  background-size: cover;
  background-position: center;
  padding-top: 100px;
  padding-bottom: 100px;
  overflow: hidden;
}

/*Concert Listing*/
.no-display{
  display: none;
}
